:root {
  --blue: #1c3440;
  --light-blue: #00ffff;
  --light-grey: #949494;
  --dark-grey: #4f4f4f;
  --white: #ffffff;
  --black: #000000;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Domine', serif;
  ;
  font-size: 20px;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--blue);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: 'The Nautigal', cursive;
  font-weight: normal;
  margin: 0px;
}

h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0px;
}

h2 {
  color: var(--white);
  letter-spacing: 10px;
}

h3 {
  color: var(--blue);
}

h4 {
  color: var(--light-blue);
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--light-blue);
  transition: 0.3s;
}

a:hover {
  color: rgba(106, 216, 250, 1);
  text-shadow: rgba(106, 216, 250, 1) 1px 0 20px;
  transition: 0.3s;
}

p {
  margin: 0;
}

.underline_title {
  width: 100%;
}

.section_title {
  position: relative;
  margin-top: 40px;
}

.section_title::before {
  position: absolute;
  content: '';
  background-color: var(--blue);
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0%;
  z-index: 0;
}

.white_section_title {
  position: relative;
  padding: 0 20px;
  background-color: var(--white);
}

.header {
  padding: 15px;
}

.header_burger {
  display: none;
}

.nav_list {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  text-decoration: none;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  transition: 1s;
}

.contacts_wrapper {
  display: flex;
  justify-content: space-between;
}

.cv_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--white);
  width: 70%;
  padding: 0 100px;
  padding-top: 15px;
}

.title {
  color: var(--blue);
  text-align: center;
  border-top: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
}

.rotate_name {
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 10px;
  transform: rotate(-15deg);
}

.last_name {
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 5px;
  color: var(--blue)
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: var(--light-grey);
}

.contacts_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 30%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--light-blue);
  font-weight: 400;
  text-align: right;
  line-height: 1.5;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact_pic {
  width: 20px;
  height: 20px;
}

.about,
.code_example {
  background: #5d5d5d;
  background: -moz-linear-gradient(left, #5d5d5d 0%, #747474 50%, #5d5d5d 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #5d5d5d), color-stop(50%, #747474), color-stop(100%, #5d5d5d));
  background: -webkit-linear-gradient(left, #5d5d5d 0%, #747474 50%, #5d5d5d 100%);
  background: -o-linear-gradient(left, #5d5d5d 0%, #747474 50%, #5d5d5d 100%);
  background: -ms-linear-gradient(left, #5d5d5d 0%, #747474 50%, #5d5d5d 100%);
  background: linear-gradient(to right, #5d5d5d 0%, #747474 50%, #5d5d5d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5d5d5d', endColorstr='#5d5d5d', GradientType=1);
  padding: 30px;
}

.about_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-title {
  position: relative;
  padding-right: 0;
}

.about_title::before {
  position: absolute;
  content: '';
  width: 700px;
  height: 2px;
  background-color: var(--blue);
  overflow: hidden;
  top: 10%;
  left: 200px;
}

.about_text {
  width: 70%;
  overflow: hidden;
  -webkit-animation: slide-in-left 1s ease-out both;
  animation: slide-in-left 1s ease-out both;
}

.photo {
  max-width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.my_photo {
  max-width: 80%;
  border-radius: 50%;
}

.info_wrapper {
  display: flex;
  justify-content: space-between;
}

.white_part {
  width: 70%;
  background-color: var(--white);
  color: var(--black);
}

.dark_part {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  color: var(--white);
  padding: 20px;
}

.projects {
  padding-bottom: 100px;
}

.projects_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 150px;
  margin: 40px;
}

.projects_item {
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: 0.5s;
}

.projects_item:hover {
  transform: perspective(5000px);
  transform: rotateY(0deg);
  cursor: pointer;
}

.projects_item .project_box {
  box-shadow: 0 15px 10px var(--light-grey);
  transform: perspective(10000px);
  transform: translateZ(100px) rotateY(30deg);
  top: 40%;
}

.projects_item:hover .project_img {
  transform: rotateY(0deg);
  box-shadow: 0 15px 10px var(--dark-grey);
  filter: grayscale(0%);
}

.project_img {
  width: 250px;
  height: 105px;
  transform: rotateY(30deg);
  transition: 0.5s;
  box-shadow: 0 5px 20px var(--dark-grey);
  filter: grayscale(100%);
}

.project_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding: 20px 10px;
  position: absolute;
  top: 60%;
  color: var(--white);
  font-size: 12px;
  line-height: 1.2;
  transform: translateZ(20px) rotateY(30deg);
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 10px var(--dark-grey);
}

.projects_item:hover .project_box {
  position: absolute;
  transform: scale(1.1, 1.1);
}

.project_link {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  transition: 0.5s;
  overflow: hidden;
  background: none;
  margin-top: 10px;
}

.project_link:hover {
  background: var(--light-blue);
  color: #000;
  box-shadow: 0 0 5px var(--light-blue),
      0 0 25px var(--light-blue),
      0 0 50px var(--light-blue),
      0 0 200px var(--light-blue);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.light_box {
  position: absolute;
  display: block;
}

.light_box:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--light-blue));
  animation: animate1 1s linear infinite;
}

.light_box:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--light-blue));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

.light_box:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--light-blue));
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

.light_box:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--light-blue));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

.strength,
.courses {
  padding-left: 20px;
}

.code_example_wrapper {
  display: flex;
  justify-content: center;
}

.code_example_title {
  color: rgba(106, 216, 250, 1);
  text-shadow: rgba(106, 216, 250, 1) 1px 0 20px;
}

.task_description {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
}



pre {
  border: 3px solid var(--light-blue);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(106, 216, 250, 1);
  display: flex;
  margin: 0 auto;
  max-width: fit-content;
  max-height: fit-content;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--black);
}

.shadow_inset {
  width: 100%;
  box-shadow: inset 0 0 30px rgba(106, 216, 250, 1);
  border-radius: 5px;
  z-index: 10;
}

.footer {
  padding: 15px;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rss {
  width: 100px;
  fill: var(--white);
}
.icon {
  transition: 0.5s;
}
.icon:hover {
  fill: rgba(106, 216, 250, 1);
  transition: 0.5s;
}

@media screen and (max-width: 920px) {
  body {
      font-size: 14px;
  }
  h4 {
      font-size: 16px;
  }
  .projects_wrapper {
      flex-direction: column;
      align-items: center;
      row-gap: 150px;
  }
 
  .nav_link {
      font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header {
      height: 55px;
  }
  .header_burger {
      display: block;
      position: relative;
      width: 30px;
      height: 25px;
      margin-left: 20px;
      margin-right: 4px;
    }
  
    .header_burger.active {
      display: block;
      position: fixed;
      width: 30px;
      height: 25px;
      z-index: 5;
      margin-right: 9px;
    }

    .header_burger::after,
    .header_burger::before {
      content: "";
      background-color: var(--light-blue);
      position: absolute;
      width: 100%;
      height: 2px;
      transition: 0.5s;
    }
  
    .header_burger::before {
      top: 2px;
    }
  
    .header_burger::after {
      bottom: 0px;
    }

    .header_burger.active::before {
      content: "";
      background-color: var(--light-blue);
      position: absolute;
      width: 30px;
      height: 2px;
      transition: 0.5s;
    }
  
    .header_burger.active::before {
      top: 46%;
      transform: rotate(45deg);
    }
  
    .header_burger.active::after {
      width: 30px;
      bottom: 46%;
      transform: rotate(-45deg);
    }

    .burger {
      position: absolute;
      top: 12px;
      content: "";
      background-color: var(--light-blue);
      width: 100%;
      height: 2px;
      transition: 0.5s;
    }
  
    .burger.active {
      background-color: transparent;
    }

    .nav_list {
      position: fixed;
      width: 400px;
      height: 100vh;
      left: -620px;
      font-size: 35px;
      background: var(--blue);
      top: -35px;
      overflow-x: hidden;
      padding: 50px 100px;
      color: #fff;
      display: block;
      text-align: left;
      transition: 0.5s;
    }

    .menu_active {
      height: 100%;
      left: 0px;
      transition: 0.5s;
      display: block;
      z-index: 5;
    }

    .contact {
    font-size: 10px;
    }

    .dark_part {
        font-size: 14px;
    }
}

@media screen and (max-width: 660px) {
  .contacts_wrapper {
      flex-direction: column;
      align-items: center;
  }
  .contacts_list {
      width: 50%;
  }
  .cv_name{
       width: 90%;
       padding: 0 20px;
    padding-top: 15px;
  }
  .info_wrapper {
      flex-direction: column;
      align-items: center;
  }
  .white_part {
      width: 90%;
  }

  .dark_part {
      width: 90%;
      flex-direction: row;
      justify-content: space-around;
  }
  .code_example_wrapper {
      flex-direction: column;
      gap: 20px;
  }
  pre {
      max-width: 90%;
  }
  code {
      font-size: 0.7em;
  }
}

@media screen and (max-width: 440px) {
 
  .about_wrapper {
      flex-direction: column-reverse;
  }
  .photo {
      max-width: 90%;
      justify-content: center;
  }
  code {
      font-size: 0.5em;
  }

}

@media screen and (max-width: 350px) {
  body {
      font-size: 10px;
  }
  .subtitle {
      font-size: 12px;
  }
  .project_img {
      width: 200px;
  }
  .project_box {
      width: 200px;
  }
}

@keyframes slide-in-left {
  0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      opacity: 0;
  }

  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes animate1 {
  0% {
      left: -100;
  }

  50%, 100% {
      left: 100%;
  }
}

@keyframes animate2 {
  0% {
      top: -100;
  }

  50%, 100% {
      top: 100%;
  }
}

@keyframes animate3 {
  0% {
      right: -100;
  }

  50%, 100% {
      right: 100%;
  }
}

@keyframes animate4 {
  0% {
      bottom: -100;
  }

  50%, 100% {
      bottom: 100%;
  }
}